__pycache__/
*.py[cod]
*.class
**/tags

# Ignore image files in content directories
content/**/*.png
content/**/*.jpg
content/**/*.jpeg
content/**/*.gif
content/**/*.webp
content/**/*.svg
content/**/*.bmp
content/**/*.tiff
content/**/*.ico
